*.pyc
*~
.sconsign.dblite

# Build folders:
src/objs
src/bin

# Common renderer output file:
*.exr

# These files are generated during the build process:
src/core/pbrtlex.cpp
src/core/pbrtparse.cpp
src/core/pbrtparse.hh
src/core/pbrtparse.hpp
src/core/pbrtparse.output

# Visual studio files
src/pbrt.vs*/*.sdf
src/pbrt.vs*/*.opensdf
src/pbrt.vs*/ipch
src/pbrt.vs*/*.suo
src/pbrt.vs*/*.user
src/multipole/*.sdf
src/multipole/*.opensdf
src/multipole/ipch
src/multipole/*.suo
src/multipole/*.user

# VS Build folders
tmp/
bin/
lib/
[Dd]ebug/
[Rr]elease/


# Scene files
/scenes/
